body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  background-size: 100%;
}

/* Style the header */
.header {
  grid-area: header;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.header img {
  vertical-align: middle;
}

.header h1 {
  font-family: Arial;
  position: relative;
  display: inline;
}

.logo{
  width: 75px;
  height: 75px;
  margin-right:10px;
}

.textLogo{
  height: 75px;
  width: auto;
  margin-right:20px;
}

.extra-container {
  display: grid;
  grid-template-columns: 500px 250px 500px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-left: 99px;
}

/* The grid container */
.grid-container {
  display: grid;
  grid-template-columns: 600px 0px 250px 5px 250px 5px 250px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-left: 99px;
}

.left,
.middle,
.right {
}

/* Style the left column */
.left {
  overflow: scroll;
}

.circleLinks1 img{
  width:118px;
  height:118px;
  margin-right: 32px;
  margin-bottom: 32px;
  transition: transform .2s;
}

.circleLinks1 img:hover{
  transform: scale(1.1);
}

.circleLinks2 img{
  width:118px;
  height:118px;
  margin-right:32px;
  transition: transform .2s;
}

.circleLinks2 img:hover{
  transform: scale(1.1);
}

.circleLinks3 img{
  width:118px;
  height:118px;
  margin-top: 32px;
  margin-right:32px;
  transition: transform .2s;
}

.circleLinks3 img:hover{
  transform: scale(1.1);
}

.searchBar{
  margin-top: -95px;
}

input[type=text] {
    width: 95%;
    padding: 12px 20px;
	margin-top: 175px;
    box-sizing: border-box;
	background: url(google.png) no-repeat scroll 13px 13px;
	background-color: #fff;
	padding-left:108px;
}

editLinks {
  width:300px;
  height:300px;
}

/* Style the middle column */
.middle {
  overflow: scroll;
}

/* Style the right column */
.right {
  overflow: scroll;
}

#scroll::-webkit-scrollbar{
  width:10px;
  background-color: none;
}
#scroll::-webkit-scrollbar-button {
  display: none;
}
#scroll::-webkit-scrollbar-thumb {
  display: none;
}
div#scroll:hover::-webkit-scrollbar-thumb {
  display: contents;
  background-color: #818B99;
  border: 3px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas:
    'header header header header header header'
    'left left left left left left'
    'middle middle middle middle middle middle'
    'right right right right right right'
    'footer footer footer footer footer footer';
}
}

